{% load static %}
<!doctype html>
<html lang="pt-br">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Terra & Co.</title>
    <link rel="shortcut icon" href="http://oi66.tinypic.com/34g5ao5.jpg" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
    <style "type= text/css">
     body  {}

        .card {
            border-color: black;
            float: right;
            margin: auto;
        }
        .card {
                  margin-top: 10px;
                  float: left;
                  margin-left: 0px;
        }

        .div-inline {
                display: inline-block;
                height: 630px;
                margin-top: 10;
        }
        .nav a {
                color: #000000;
        }
        .form {
            width: 20%;
            margin-left: 25px;
        }
        #pesquisa {
            margin-left: 75%;
            margin-top: -50px;

        }

                
     </style>
    <body>
<img style="width: 100%;" src="{% static 'log.png'  %}"/>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active"><img style="width: 40px; height: 40px;" src="{% static 'caixa.png'  %}"/></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="{% url 'product_list' %}">Página Inicial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <div id="pesquisa">
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
          <input class="form-control mr-sm-2" type="text" name="q" aria-label="Pesquisar" placeholder="O que você procura?">
          <input class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="Buscar">
        </form>
      </div>

</body>
</html>