{% load static %}
<!doctype html>
<html lang="pt-br">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Terra & Co.</title>
    <link rel="shortcut icon" href="http://oi66.tinypic.com/34g5ao5.jpg" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
    <style "type= text/css">
     body  {}

        .card {
            border-color: black;
            float: right;
            margin-top: 10px;
            
        }

        .div-inline {
                display: inline-block;
                height: 800px;
                margin-top: 10;
        }
        .nav a {
                color: #000000;
        }
        .form {
            width: 20%;
            margin-left: 25px;
        }
        #pesquisa {
            margin-left: 75%;
            margin-top: -40px;

        }

                
     </style>
    <body>
<img style="width: 100%; height: 310px;" src="{% static 'log.png'  %}"/>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active"><img style="width: 30px; height: 30px;" src="{% static 'caixa.png'  %}"/></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="{% url 'product_list' %}">Página Inicial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <div id="pesquisa">
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
          <input class="form-control mr-sm-2" type="text" name="q" aria-label="Pesquisar" placeholder="O que você procura?">
          <input class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="Buscar">
        </form>
      </div>
</ul>

{% for product in object_list %}
<div class="div-inline">
<div class="col">
<div class="card" style="width: 25rem; height: 47rem">
  <img class="card-img-top" style="width: 100%; height: 310px;" src="{{ product.imagem.url }}" alt="Imagem de capa do card">
  <div class="card-body">
    <h4 class="card-title">{{ product.nome }} </h4>
    <h6 class="card-title">{{ product.quantidade }} em estoque </h6>
    <p class="card-text">{{ product.descricao }}</p>
  </div>
      <form method="POST" action="{% url 'add-stock' product.id %}">
        {% csrf_token %}
        <input type="number" class="form" name="quantidade" min="1">
        <input type="submit" class="btn btn-light" value="Adicionar ao estoque">
    </form>
    <br>
    <form method="POST" action="{% url 'remove-stock' product.id %}">
        {% csrf_token %}
        <input type="number" class="form" name="quantidade" min="1">
        <input type="submit" class="btn btn-light" value="Remover do estoque">
    </form>
  <div class="card-body">
    <a href="#" class="card-link">Link do card</a>
    <a href="#" class="card-link">Outro link</a>
  </div>
</div>
</div>
</div>
{% endfor %}
</body>
</html>