<style "type= text/css">
.card {
  
}
</style>

{% extends "stock/base.html" %}
{% block content %}

{% for product in object_list %}
<div class="div-inline">
<div class="col">
<div class="card" style="width: 23rem; height: 30rem">
  <img class="card-img-top" style="width: 100%; height: 13rem;" src="{{ products.imagem.url }}" alt="Imagem de capa do card">
  <div class="card-body">
    <h4 class="card-title">{{ product.nome }} </h4>
    <h6 class="card-title">{{ product.quantidade }} em estoque </h6>
    <p class="card-text">{{ product.descricao }}</p>
  </div>
      <form method="POST" action="{% url 'add-stock' product.id %}">
        {% csrf_token %}
        <input type="number" class="form" name="quantidade" min="1">
        <input type="submit" class="btn btn-light" value="Adicionar ao estoque">
    </form>
    <br>
    <form method="POST" action="{% url 'remove-stock' product.id %}">
        {% csrf_token %}
        <input type="number" class="form" name="quantidade" min="1">
        <input type="submit" class="btn btn-light" value="Remover do estoque">
    </form>
  <div class="card-body">
    <a href="#" class="card-link">Link do card</a>
    <a href="#" class="card-link">Outro link</a>
  </div>
</div>
</div>
</div>
{% endfor %}

</div>
{% endblock %}